
.flash-message {
  padding: 10px;
  border: 5px;
  background-color: skyblue;
  border-radius: 3px;
}

.hidden {
  display: none;
}

.semi-hidden {
  color: grey;

  a {
    color: teal;
  }
}

thead *{
  font-size: 20
}

div .container-fluid {
  margin-bottom: 20px;
}

.welcome-img {
  display: inline;
}

textarea, input[type=text] {
  margin-bottom: 10px;
}

textarea {
  width: 400px;
  resize: none;
}

input, textarea, select {
  display: block;
}
