
.flash-message {
  width: 50%;
  border: 5px;
  background-color: skyblue;
  border-radius: 3px;
}

.hidden {
  color: lightgrey;
}

.hidden a {
  color: lightgrey;
}

thead *{
  font-size: 20
}

div .container-fluid {
  margin-bottom: 20px;
}

.welcome-img {
  display: inline;
}
